html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    height: 100vh;
    background-color: #171717;
}

p,span,h1,h2,h3,h4,h5,h6,a,button {
    color: white;
}

body *, input, textarea {
    font-family: 'Manrope';
}

body h1,h2,h3,h4,h5,h6 {
    font-family: 'Righteous' !important;
    letter-spacing: 2px;
    font-weight: bold;
}

main {
    display: none !important;
}

main + span {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 42px;
    margin: 50px 0;
    letter-spacing: 2px;
}

::selection {
    background-color: #1ed760;
    color: black;
}

img,button,a,iframe,video {
    user-select: none !important;
}

img:hover {
    cursor: pointer;
}

.arrow {
    width: 80px;
    height: 500px;
}

.arrow.arrow-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: linear-gradient(90deg, black, transparent);
}

.arrow.arrow-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(-90deg, black, transparent);
}

.svg-left, .svg-right {
    width: 50px;
    height: 150px;
    pointer-events: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.arrow.arrow-left:hover ~ .svg-left, .arrow.arrow-right:hover ~ .svg-right {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.arrow, .svg-left, .svg-right {
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

iframe:hover, iframe:hover ~ .arrow, iframe:hover ~ .svg-left, iframe:hover ~ .svg-right,
.arrow:hover ~ .svg-left, .arrow:hover, .svg-left:hover, .arrow:hover ~ .svg-right, .svg-right:hover {
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

img:-moz-broken {
    opacity: 0;
}

iframe {
    border-radius: 30px;
    position: absolute;
    left: 560px !important;
    top: 290px !important;
}

.html5-video-player .video-click-tracking, .html5-video-player, .html5-main-video, .video-stream {
    top: 0 !important;
    height: 518px !important;
}

.genre {
    display: block;
    color: #28b47f;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 16px;
    margin-top: -42px;
    letter-spacing: 1px;
}

.title {
    text-align: center;
    font-size: 82px !important;
    right: 50px !important;
    writing-mode: vertical-rl;
    top: 340px !important;
    padding-top: 0px !important;
    position: absolute;
}

span.description {
    display: -webkit-box;
    -webkit-line-clamp: 18;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #c9c9c9;
    text-orientation: sideways;
    line-height: 1.7;
    position: absolute;
    left: 200px;
    top: 300px;
    max-width: 320px;
    text-align: justify;
    text-align-last: right;
}